<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396426046330-km38g5aih6oeqlel1d14ngffdoa9euaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396426046330-km38g5aih6oeqlel1d14ngffdoa9euaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBepReqSeRqFXxuF9cmYWliDqqyiCUAuNo</string>
	<key>GCM_SENDER_ID</key>
	<string>396426046330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSignin</string>
	<key>PROJECT_ID</key>
	<string>signin-41c36</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-41c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396426046330:ios:ef8a8021ac898c409a44c3</string>
</dict>
</plist>